version: '2'
services:
  soulseek:
    build: .
    environment:
      - pgid=1000
      - puid=1000
      - resize=scale
      - resolution=1280x720
    ports:
      - 6080:6080
    volumes:
      - appdata:/data/.SoulseekQt
      - downloads:/data/Soulseek Downloads
      - logs:/data/Soulseek Chat Logs
volumes:
  appdata: /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/appdata
  downloads: /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/downloads
  logs: /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/logs
