version: '2'
services:
  soulseek:
    build: .
    environment:
      - pgid=1000
      - puid=1000
      - resize=scale
      - resolution=1280x720
    ports:
      - 6080:6080
    volumes:
      - /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/appdata:/data/.SoulseekQt
      - /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/downloads:/data/Soulseek Downloads
      - /srv/1ba188a4-f62c-438a-b326-57cf088f1d87/soulseek/logs:/data/Soulseek Chat Logs
volumes:
  appdata: 
  downloads: 
  logs: 
